<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fire.back.dao.extend.ExtendUserTbMapper" >
  <resultMap id="BaseResultMap" type="com.fire.back.entity.UserTb" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="id_card_number" property="idCardNumber" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="reg_time" property="regTime" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="love_point" property="lovePoint" jdbcType="INTEGER" />
    <result column="love_fund" property="loveFund" jdbcType="DOUBLE" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="old_name" property="oldName" jdbcType="VARCHAR" />
    <result column="old_mobile" property="oldMobile" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, id_card_number, mobile, reg_time, state, type, love_point, love_fund, role_id, 
    open_id, sex, address, email, comment, org_name, org_num, old_name, old_mobile, school,
    school_num, create_time, update_time, is_delete
  </sql>
  <select id="selectUsersByPage" resultMap="BaseResultMap" parameterType="com.fire.back.entity.UserTb">
    select
    <include refid="Base_Column_List" />
    from user_tb
    <where>
      <if test="name != null" >
        name like "%"#{name,jdbcType=VARCHAR}"%"
      </if>
      <if test="idCardNumber != null" >
        and id_card_number like "%"#{idCardNumber,jdbcType=VARCHAR}"%"
      </if>
      <if test="mobile != null" >
        and mobile like "%"#{mobile,jdbcType=VARCHAR}"%"
      </if>
      <if test="state != null" >
        and state = #{state,jdbcType=INTEGER}
      </if>
      <if test="type != null" >
        and type = #{type,jdbcType=INTEGER}
      </if>
      <if test="roleId != null" >
        and role_id = #{roleId,jdbcType=BIGINT}
      </if>
      <if test="sex != null" >
        and sex = #{sex,jdbcType=INTEGER}
      </if>
      <if test="address != null" >
        and address like "%"#{address,jdbcType=VARCHAR}"%"
      </if>
      <if test="orgName != null" >
        and org_name like "%"#{orgName,jdbcType=VARCHAR}"%"
      </if>
      <if test="oldName != null" >
        and old_name like  "%"#{oldName,jdbcType=VARCHAR}"%"
      </if>
      <if test="oldMobile != null" >
        and old_mobile like "%"#{oldMobile,jdbcType=VARCHAR}"%"
      </if>
      <if test="school != null" >
        and school like "%"#{school,jdbcType=VARCHAR}"%"
      </if>
      <if test="isDelete != null" >
        and is_delete = #{isDelete,jdbcType=INTEGER}
      </if>
      <if test="startTime != null" >
        and create_time >= unix_timestamp(#{startTime,jdbcType=TIMESTAMP})
      </if>
      <if test="endTime != null" >
        and create_time &lt;= unix_timestamp(#{endTime,jdbcType=TIMESTAMP})
      </if>
    </where>
    order by update_time desc
    limit #{offSet} , #{limit}
  </select>
  <select id="selectUsersCount" resultType="Integer" parameterType="com.fire.back.entity.UserTb">
    select
        count(*)
    from user_tb
    <where>
      <if test="name != null" >
        name like "%"#{name,jdbcType=VARCHAR}"%"
      </if>
      <if test="idCardNumber != null" >
        and id_card_number like "%"#{idCardNumber,jdbcType=VARCHAR}"%"
      </if>
      <if test="mobile != null" >
        and mobile like "%"#{mobile,jdbcType=VARCHAR}"%"
      </if>
      <if test="state != null" >
        and state = #{state,jdbcType=INTEGER}
      </if>
      <if test="type != null" >
        and type = #{type,jdbcType=INTEGER}
      </if>
      <if test="roleId != null" >
        and role_id = #{roleId,jdbcType=BIGINT}
      </if>
      <if test="sex != null" >
        and sex = #{sex,jdbcType=INTEGER}
      </if>
      <if test="address != null" >
        and address like "%"#{address,jdbcType=VARCHAR}"%"
      </if>
      <if test="orgName != null" >
        and org_name like "%"#{orgName,jdbcType=VARCHAR}"%"
      </if>
      <if test="oldName != null" >
        and old_name like  "%"#{oldName,jdbcType=VARCHAR}"%"
      </if>
      <if test="oldMobile != null" >
        and old_mobile like "%"#{oldMobile,jdbcType=VARCHAR}"%"
      </if>
      <if test="school != null" >
        and school like "%"#{school,jdbcType=VARCHAR}"%"
      </if>
      <if test="isDelete != null" >
        and is_delete = #{isDelete,jdbcType=INTEGER}
      </if>
      <if test="startTime != null" >
        and FROM_UNIXTIME(create_time) >= #{startTime}
      </if>
      <if test="endTime != null" >
        and FROM_UNIXTIME(create_time) &lt;= #{endTime}
      </if>
    </where>
  </select>

  <update id="updateLovePointsByUser" >
    update user_tb set love_point=ifnull(
    (select sum(love_points) from love_points_tb where user_id=#{userId,jdbcType=BIGINT} and is_delete=0),0),
    update_time=#{updateTime,jdbcType=BIGINT}
    where id= #{userId,jdbcType=BIGINT}

  </update>

  <update id="batchUpdateLovePointsByUser" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      update user_tb set love_point=ifnull(
          (
              select sum(love_points) from love_points_tb
              where user_id=#{item.userId,jdbcType=BIGINT} and is_delete=0
          ),0),
      update_time=#{item.updateTime,jdbcType=BIGINT}
      where id= #{item.userId,jdbcType=BIGINT}
    </foreach>
  </update>
</mapper>