<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fire.back.dao.extend.ExtendContriInfoTbMapper">
  <resultMap id="BaseResultMap" type="com.fire.back.entity.ContriInfoTb" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="contri_amount" property="contriAmount" jdbcType="DECIMAL" />
    <result column="contri_things" property="contriThings" jdbcType="VARCHAR" />
    <result column="contri_time" property="contriTime" jdbcType="BIGINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="org_r_name" property="orgRName" jdbcType="VARCHAR" />
    <result column="contri_proof" property="contriProof" jdbcType="VARCHAR" />
    <result column="contri_type" property="contriType" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="contri_state" property="contriState" jdbcType="INTEGER" />
    <result column="if_stamp" property="ifStamp" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="contri_value" property="contriValue" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id AS userId, contri_amount AS contriAmount, contri_things AS contriThings,
    contri_time AS contriTime, mobile, org_name AS orgName, org_r_name AS orgRName,
    contri_proof AS contriProof, contri_type AS contriType, update_time AS updateTime,
    is_delete AS isDelete, contri_state AS contriState, if_stamp AS ifStamp,
    create_time AS createTime, contri_value AS contriValue
  </sql>

  <select id='getCount' resultType="Integer">
    select
      count(*)
    from contri_info_tb t1
    left join user_tb t2 on t1.user_id = t2.id
    where
      1=1
    <if test="paramsDto.userId != null" >
      and user_id = #{paramsDto.userId,jdbcType=BIGINT}
    </if>
    <if test="paramsDto.userName != null and paramsDto.userName != ''">
      <![CDATA[
        and UPPER(t2.name) like CONCAT("%",#{paramsDto.userName},"%")
        ]]>
    </if>
  </select>

  <select id="selectContriInfoByPage" resultType="com.fire.back.dto.ContriInfoResultDto">
    select
      t1.id,
      t2.name AS userName,
      t1.contri_amount AS contriAmount,
      t1.contri_things AS contriThings,
      t1.contri_time AS contriTime,
      t1.mobile AS userMobile,
      t1.org_name AS orgName,
      t1.org_r_name AS orgRName,
      t1.contri_proof AS contriProof,
      t1.contri_type AS contriType,
      t1.update_time AS updateTime,
      t1.is_delete AS isDelete,
      t1.contri_state AS contriState,
      t1.if_stamp AS ifStamp,
      t1.create_time AS createTime,
      t1.contri_value AS contriValue
    from contri_info_tb t1
    left join user_tb t2 on t1.user_id = t2.id
    where
    1=1
    <if test="paramsDto.contriInfoId != null" >
      and t1.id = #{paramsDto.contriInfoId,jdbcType=BIGINT}
    </if>
    <if test="paramsDto.userId != null" >
      and t1.user_id = #{paramsDto.userId,jdbcType=BIGINT}
    </if>
    <if test="paramsDto.contriState != null" >
      and t1.contri_state = #{paramsDto.contriState,jdbcType=BIGINT}
    </if>
    <if test="paramsDto.userName != null and paramsDto.userName != ''">
      <![CDATA[
        and UPPER(t2.name) like CONCAT("%",#{paramsDto.userName},"%")
        ]]>
    </if>
    <if test="paramsDto.startTime != null and paramsDto.startTime != ''">
      <![CDATA[
			and t1.contri_time >= #{paramsDto.startTime}
		]]>
    </if>
    <if test="paramsDto.endTime != null and paramsDto.endTime != ''">
      <![CDATA[
			and t1.contri_time <= #{paramsDto.endTime}
		]]>
    </if>
    order by t1.update_time desc
    <![CDATA[
    limit #{paramsDto.offSet,jdbcType=INTEGER},#{paramsDto.limit,jdbcType=INTEGER}
    ]]>
  </select>
</mapper>
