<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fire.back.dao.ActivityTbMapper" >
  <resultMap id="BaseResultMap" type="com.fire.back.entity.ActivityTb" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="activity_start_time" property="activityStartTime" jdbcType="BIGINT" />
    <result column="activity_end_time" property="activityEndTime" jdbcType="BIGINT" />
    <result column="sign_start_time" property="signStartTime" jdbcType="BIGINT" />
    <result column="sign_end_time" property="signEndTime" jdbcType="BIGINT" />
    <result column="read_num" property="readNum" jdbcType="BIGINT" />
    <result column="good_num" property="goodNum" jdbcType="BIGINT" />
    <result column="cover_url" property="coverUrl" jdbcType="VARCHAR" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="if_send" property="ifSend" jdbcType="INTEGER" />
    <result column="activity_time" property="activityTime" jdbcType="INTEGER" />
    <result column="apply_nums" property="applyNums" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fire.back.entity.ActivityTbWithBLOBs" extends="BaseResultMap" >
    <result column="body" property="body" jdbcType="LONGVARCHAR" />
    <result column="apply_names" property="applyNames" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, address, activity_start_time, activity_end_time, sign_start_time, sign_end_time, 
    read_num, good_num, cover_url, pic_url, state, type, if_send, activity_time, apply_nums, 
    is_delete, create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    body, apply_names
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.fire.back.entity.ActivityTbExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity_tb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fire.back.entity.ActivityTbExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from activity_tb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity_tb
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from activity_tb
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fire.back.entity.ActivityTbExample" >
    delete from activity_tb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fire.back.entity.ActivityTbWithBLOBs" >
    insert into activity_tb (id, title, address, 
      activity_start_time, activity_end_time, sign_start_time, 
      sign_end_time, read_num, good_num, 
      cover_url, pic_url, state, 
      type, if_send, activity_time, 
      apply_nums, is_delete, create_time, 
      update_time, body, apply_names
      )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{activityStartTime,jdbcType=BIGINT}, #{activityEndTime,jdbcType=BIGINT}, #{signStartTime,jdbcType=BIGINT}, 
      #{signEndTime,jdbcType=BIGINT}, #{readNum,jdbcType=BIGINT}, #{goodNum,jdbcType=BIGINT}, 
      #{coverUrl,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{ifSend,jdbcType=INTEGER}, #{activityTime,jdbcType=INTEGER}, 
      #{applyNums,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT}, #{body,jdbcType=LONGVARCHAR}, #{applyNames,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fire.back.entity.ActivityTbWithBLOBs" >
    insert into activity_tb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="activityStartTime != null" >
        activity_start_time,
      </if>
      <if test="activityEndTime != null" >
        activity_end_time,
      </if>
      <if test="signStartTime != null" >
        sign_start_time,
      </if>
      <if test="signEndTime != null" >
        sign_end_time,
      </if>
      <if test="readNum != null" >
        read_num,
      </if>
      <if test="goodNum != null" >
        good_num,
      </if>
      <if test="coverUrl != null" >
        cover_url,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="ifSend != null" >
        if_send,
      </if>
      <if test="activityTime != null" >
        activity_time,
      </if>
      <if test="applyNums != null" >
        apply_nums,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="body != null" >
        body,
      </if>
      <if test="applyNames != null" >
        apply_names,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="activityStartTime != null" >
        #{activityStartTime,jdbcType=BIGINT},
      </if>
      <if test="activityEndTime != null" >
        #{activityEndTime,jdbcType=BIGINT},
      </if>
      <if test="signStartTime != null" >
        #{signStartTime,jdbcType=BIGINT},
      </if>
      <if test="signEndTime != null" >
        #{signEndTime,jdbcType=BIGINT},
      </if>
      <if test="readNum != null" >
        #{readNum,jdbcType=BIGINT},
      </if>
      <if test="goodNum != null" >
        #{goodNum,jdbcType=BIGINT},
      </if>
      <if test="coverUrl != null" >
        #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="ifSend != null" >
        #{ifSend,jdbcType=INTEGER},
      </if>
      <if test="activityTime != null" >
        #{activityTime,jdbcType=INTEGER},
      </if>
      <if test="applyNums != null" >
        #{applyNums,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="body != null" >
        #{body,jdbcType=LONGVARCHAR},
      </if>
      <if test="applyNames != null" >
        #{applyNames,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fire.back.entity.ActivityTbExample" resultType="java.lang.Integer" >
    select count(*) from activity_tb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update activity_tb
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.activityStartTime != null" >
        activity_start_time = #{record.activityStartTime,jdbcType=BIGINT},
      </if>
      <if test="record.activityEndTime != null" >
        activity_end_time = #{record.activityEndTime,jdbcType=BIGINT},
      </if>
      <if test="record.signStartTime != null" >
        sign_start_time = #{record.signStartTime,jdbcType=BIGINT},
      </if>
      <if test="record.signEndTime != null" >
        sign_end_time = #{record.signEndTime,jdbcType=BIGINT},
      </if>
      <if test="record.readNum != null" >
        read_num = #{record.readNum,jdbcType=BIGINT},
      </if>
      <if test="record.goodNum != null" >
        good_num = #{record.goodNum,jdbcType=BIGINT},
      </if>
      <if test="record.coverUrl != null" >
        cover_url = #{record.coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.picUrl != null" >
        pic_url = #{record.picUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.ifSend != null" >
        if_send = #{record.ifSend,jdbcType=INTEGER},
      </if>
      <if test="record.activityTime != null" >
        activity_time = #{record.activityTime,jdbcType=INTEGER},
      </if>
      <if test="record.applyNums != null" >
        apply_nums = #{record.applyNums,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.body != null" >
        body = #{record.body,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.applyNames != null" >
        apply_names = #{record.applyNames,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update activity_tb
    set id = #{record.id,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      activity_start_time = #{record.activityStartTime,jdbcType=BIGINT},
      activity_end_time = #{record.activityEndTime,jdbcType=BIGINT},
      sign_start_time = #{record.signStartTime,jdbcType=BIGINT},
      sign_end_time = #{record.signEndTime,jdbcType=BIGINT},
      read_num = #{record.readNum,jdbcType=BIGINT},
      good_num = #{record.goodNum,jdbcType=BIGINT},
      cover_url = #{record.coverUrl,jdbcType=VARCHAR},
      pic_url = #{record.picUrl,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      if_send = #{record.ifSend,jdbcType=INTEGER},
      activity_time = #{record.activityTime,jdbcType=INTEGER},
      apply_nums = #{record.applyNums,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      body = #{record.body,jdbcType=LONGVARCHAR},
      apply_names = #{record.applyNames,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update activity_tb
    set id = #{record.id,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      activity_start_time = #{record.activityStartTime,jdbcType=BIGINT},
      activity_end_time = #{record.activityEndTime,jdbcType=BIGINT},
      sign_start_time = #{record.signStartTime,jdbcType=BIGINT},
      sign_end_time = #{record.signEndTime,jdbcType=BIGINT},
      read_num = #{record.readNum,jdbcType=BIGINT},
      good_num = #{record.goodNum,jdbcType=BIGINT},
      cover_url = #{record.coverUrl,jdbcType=VARCHAR},
      pic_url = #{record.picUrl,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      if_send = #{record.ifSend,jdbcType=INTEGER},
      activity_time = #{record.activityTime,jdbcType=INTEGER},
      apply_nums = #{record.applyNums,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fire.back.entity.ActivityTbWithBLOBs" >
    update activity_tb
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="activityStartTime != null" >
        activity_start_time = #{activityStartTime,jdbcType=BIGINT},
      </if>
      <if test="activityEndTime != null" >
        activity_end_time = #{activityEndTime,jdbcType=BIGINT},
      </if>
      <if test="signStartTime != null" >
        sign_start_time = #{signStartTime,jdbcType=BIGINT},
      </if>
      <if test="signEndTime != null" >
        sign_end_time = #{signEndTime,jdbcType=BIGINT},
      </if>
      <if test="readNum != null" >
        read_num = #{readNum,jdbcType=BIGINT},
      </if>
      <if test="goodNum != null" >
        good_num = #{goodNum,jdbcType=BIGINT},
      </if>
      <if test="coverUrl != null" >
        cover_url = #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="ifSend != null" >
        if_send = #{ifSend,jdbcType=INTEGER},
      </if>
      <if test="activityTime != null" >
        activity_time = #{activityTime,jdbcType=INTEGER},
      </if>
      <if test="applyNums != null" >
        apply_nums = #{applyNums,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="body != null" >
        body = #{body,jdbcType=LONGVARCHAR},
      </if>
      <if test="applyNames != null" >
        apply_names = #{applyNames,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fire.back.entity.ActivityTbWithBLOBs" >
    update activity_tb
    set title = #{title,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      activity_start_time = #{activityStartTime,jdbcType=BIGINT},
      activity_end_time = #{activityEndTime,jdbcType=BIGINT},
      sign_start_time = #{signStartTime,jdbcType=BIGINT},
      sign_end_time = #{signEndTime,jdbcType=BIGINT},
      read_num = #{readNum,jdbcType=BIGINT},
      good_num = #{goodNum,jdbcType=BIGINT},
      cover_url = #{coverUrl,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      if_send = #{ifSend,jdbcType=INTEGER},
      activity_time = #{activityTime,jdbcType=INTEGER},
      apply_nums = #{applyNums,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      body = #{body,jdbcType=LONGVARCHAR},
      apply_names = #{applyNames,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fire.back.entity.ActivityTb" >
    update activity_tb
    set title = #{title,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      activity_start_time = #{activityStartTime,jdbcType=BIGINT},
      activity_end_time = #{activityEndTime,jdbcType=BIGINT},
      sign_start_time = #{signStartTime,jdbcType=BIGINT},
      sign_end_time = #{signEndTime,jdbcType=BIGINT},
      read_num = #{readNum,jdbcType=BIGINT},
      good_num = #{goodNum,jdbcType=BIGINT},
      cover_url = #{coverUrl,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      if_send = #{ifSend,jdbcType=INTEGER},
      activity_time = #{activityTime,jdbcType=INTEGER},
      apply_nums = #{applyNums,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>