<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>权限不足</title>
    <link rel="stylesheet" href="/css/403.css" id="theme-stylesheet">
</head>
<body>
<div class="scene">
    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="overlay"></div>
    <!--<span class="bg-403">403</span>-->
    <div class="text">
        <span class="hero-text"></span>
        <span class="msg">您的权限不足</span>
        <span class="support">
      <span>请联系管理员授予权限</span>
            <a target="_top" href="/">回到主页</a>
        </span>
    </div>
    <div class="lock"></div>
</div>
</body>
</html>