<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include :: header"></head>
<body>
<form class="layui-form" id="searchForm">
  <div class="layui-row">
    <div class="layui-col-md12" style="padding-top: 10px">
        活动类型：
        <div class="layui-inline" lay-filter="typeSelect">
	        <select name="activityType" id="activityType" lay-verify="">
			  <option value="">请选择</option>
			</select> 
        </div>
        活动状态：
        <div class="layui-inline" lay-filter="stateSelect">
	        <select name="activityState" id="activityState" lay-verify="">
			  <option value="">请选择</option>
			</select> 
        </div>
        开始时间：
        <div class="layui-inline">
          <input type="text" class="layui-input" name="activityStime" id="activityStime" placeholder="开始时间起始" onfocus="noInput(this)">
        </div>-
        <div class="layui-inline">
          <input type="text" class="layui-input" name="activityEtime" id="activityEtime" placeholder="开始时间截止" onfocus="noInput(this)">
        </div>
        <div class="layui-inline" style="float:right;">
	        <button type="button" class="layui-btn" data-type="reload" id="search">搜索</button>
	        <button type="button" class="layui-btn" data-type="reload" id="clear">重置</button>
      	</div>
    <div class="layui-col-md12" style="padding-top: 10px">
        	<div style="float:right;">
	        	<button type="button" class="layui-btn layui-btn-radius layui-btn-primary" data-type="reload" id="add">新增</button>
	        	<button type="button" class="layui-btn layui-btn-radius layui-btn-primary" data-type="reload" id="edit">编辑</button>
	        	<button type="button" class="layui-btn layui-btn-radius layui-btn-primary" data-type="reload" id="del">删除</button>
        	</div>
    </div>
    </div>
  </div>
</form>
  <table class="layui-hide" id="demoTable" lay-filter="tableFilter"></table>
  <form class="layui-form layui-form-pane" id="activityInfo" style="display:none">
  <input type="hidden" id="id" name="id" value="">
  <input type="hidden" id="activity_start_time" name="activityStartTime" value="">
  <input type="hidden" id="activity_end_time" name="activityEndTime" value="">
  <input type="hidden" id="sign_start_time" name="signStartTime" value="">
  <input type="hidden" id="sign_end_time" name="signEndTime" value="">
  <input type="hidden" id="body" name="body" value="">
  <div class="layui-form-item" style="padding-top: 10px">
    <label class="layui-form-label">活动标题</label>
    <div class="layui-input-block">
      <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" class="layui-input" id="title">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">活动地址</label>
    <div class="layui-input-block">
      <input type="text" name="address" required lay-verify="required" placeholder="请输入地址" class="layui-input" id="address">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">活动开始</label>
    <div class="layui-input-block">
      <input type="text" name="astime" placeholder="请选择活动开始时间" class="layui-input" id="astime" onfocus="noInput(this)">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">活动结束</label>
    <div class="layui-input-block">
      <input type="text" name="aetime" placeholder="请选择活动结束时间" class="layui-input" id="aetime" onfocus="noInput(this)">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">签到开始</label>
    <div class="layui-input-block">
      <input type="text" name="sstime" placeholder="请选择签到开始时间" class="layui-input" id="sstime" onfocus="noInput(this)">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">签到结束</label>
    <div class="layui-input-block">
      <input type="text" name="setime" placeholder="请选择签到结束时间" class="layui-input" id="setime" onfocus="noInput(this)">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">活动类型</label>
    <div class="layui-input-block" lay-filter="aTypeSelect">
     <select id="type" name="type" lay-verify="">
		<option value="">请选择</option>
	 </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">活动状态</label>
    <div class="layui-input-block" lay-filter="aStateSelect">
     <select id="state" name="state" lay-verify="">
		<option value="">请选择</option>
	 </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">活动积分</label>
    <div class="layui-input-block">
      <input type="text" name="activityTime" required lay-verify="required" placeholder="请输入本次活动积分数" class="layui-input" id="activity_time">
    </div>
  </div>
<!--   <div class="layui-form-item">
    <label class="layui-form-label">复选框</label>
    <div class="layui-input-block">
      <input type="checkbox" name="like[write]" title="写作" lay-skin="primary">
      <input type="checkbox" name="like[read]" title="阅读" checked lay-skin="primary">
      <input type="checkbox" name="like[dai]" title="发呆" lay-skin="primary">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">开关</label>
    <div class="layui-input-block">
      <input type="checkbox" name="switch" lay-skin="switch" lay-text="开启|关闭">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">单选框</label>
    <div class="layui-input-block">
      <input type="radio" name="sex" value="男" title="男">
      <input type="radio" name="sex" value="女" title="女" checked>
    </div>
  </div> -->
  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label" >活动内容</label>
    <div class="layui-input-block">
      <textarea id="bodyInfo" name="bodyInfo" placeholder="请输入活动内容" class="layui-textarea"></textarea>
    </div>
  </div>
</form>
  <script type="text/javascript">
  var fuwenben;
  var tableIns; 
	//加载下拉框
	getSelect();
  layui.use(['layedit','laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element'], function(){
    var layer = layui.layer //弹层
        ,table = layui.table //表格
        ,element = layui.element; //元素操作
    //监听Tab切换
    element.on('tab(demo)', function(data){
      layer.msg('切换了：'+ this.innerHTML);
      console.log(data);
    });
    //执行一个 table 实例
    tableIns = table.render({
      elem: '#demoTable'
      ,url: 'back/activity/getList'
      ,method: 'post'
      ,contentType: 'application/json'
      ,id:'demoTable'
   	  ,parseData: function(res){ //res 即为原始返回的数据
   		    return {
   		      "code": res.status, //解析接口状态
   		      "msg": res.message, //解析提示文本
   		   	  "count": res.count, //解析数据长度
   		      "data": res.data //解析数据列表
   		    };
   	  }
    ,where: {field: 'activity_stime', sort: "desc"}
    ,response: {
        statusCode:1 //规定成功的状态码，默认：0
      }
      ,page: true //开启分页
      ,cols: [
          [
        {type:'checkbox'}
        ,{title: '序号', type:'numbers', align: 'center'}
        ,{field: 'id', hide:true, title:'id', align: 'center'}
        ,{field:'title', title: '活动标题', align: 'center'}
        ,{field:'type', title: '活动类型', align: 'center'}
        ,{field:'state', title: '活动状态', align: 'center'}
        ,{field:'activity_stime', title: '活动时间', align: 'center'}
        /* ,{fixed: 'right', width: 165, align:'center', toolbar: '#bar'} */
        ]
      ]
    });

    var laydate = layui.laydate;
    
    //常规用法
    laydate.render({
      elem: '#activityStime'
    	    ,trigger: 'click'
    });
    laydate.render({
      elem: '#activityEtime'
    	    ,trigger: 'click'
    });
    laydate.render({
      elem: '#astime'
    	    ,trigger: 'click'
    });
    laydate.render({
      elem: '#aetime'
    	    ,trigger: 'click'
    });
    laydate.render({
      elem: '#sstime'
    	    ,trigger: 'click'
    });
    laydate.render({
      elem: '#setime'
    	    ,trigger: 'click'
    });
    
	$("#add").bind("click", function() {
		$("#activityInfo").clearForm();
		openLayer('新建活动信息');
		initFuwenben("");
	});

	$("#edit").bind("click", function() {
		$("#activityInfo").clearForm();
		getEditData();
		openLayer('编辑活动信息');
		
	});
    
	$("#search").bind("click", function() {
		searchForm();
	});
    
	$("#clear").bind("click", function() {
		$("#searchForm").clearForm();
		searchForm();
	});
	
	layui.form.on('submit(formDemo)', function(data){
	    layer.msg(JSON.stringify(data.field));
	    return false;
  	});
  
});
  
  
function saveData(){
	//校验必填项
	layui.use('layedit', function(){
		  var layedit = layui.layedit;
		  $("#body").val(layedit.getContent(fuwenben));
	});	
	
	var ast = $("#astime").val();
	var aet = $("#aetime").val();
	var sst = $("#sstime").val();
	var set = $("#setime").val();
	$("#activity_start_time").val(getTimestamp(ast+" 00:00:00"))
	$("#activity_end_time").val(getTimestamp(aet+" 00:00:00"))
	$("#sign_start_time").val(getTimestamp(sst+" 00:00:00"))
	$("#sign_end_time").val(getTimestamp(set+" 00:00:00"))
	
	//alert(JSON.stringify($("#activityInfo").serializeObject()));
	$.ajax({
		type : "post",
		url : "back/activity/insertOrUpdate",
		data : JSON.stringify($("#activityInfo").serializeObject()),
		headers : {
            'Content-Type' : 'application/json;charset=utf-8'
            },
		dataType : 'json',
		error : function(XMLHttpRequest, textStatus, errorThrown) {
			console.log(XMLHttpRequest.status + "," + XMLHttpRequest.readyState + ","
					+ textStatus + "," + errorThrown);			
		},
		success : function(result) {
			if(result["status"] == 1){
				layer.closeAll();
				layer.msg(result["msg"]);
				searchForm();
			}
		}
	});
}

function getEditData(){
	//获取行
	layui.use('table', function(){
	var table = layui.table;
	var checkData = table.checkStatus('demoTable').data;
   //,data = checkStatus.data;
   if(checkData.length != 1){
		layer.msg('请选择一行数据！');
		return;
   }
   var id = checkData[0]["id"];
   $.ajax({
		type : "post",
		url : "back/activity/getInfo",
		data : JSON.stringify({
			"id":id
			}),
		headers : {
            'Content-Type' : 'application/json;charset=utf-8'
            },
		dataType : 'json',
		error : function(XMLHttpRequest, textStatus, errorThrown) {
			console.log(XMLHttpRequest.status + "," + XMLHttpRequest.readyState + ","
					+ textStatus + "," + errorThrown);			
		},
		success : function(result) {
			var data = result["data"];
			$("#id").val(data["id"]);
			$("#title").val(data["title"]);
			$("#address").val(data["address"]);
			$("#activity_time").val(data["activity_time"]);
			var astime = data["activity_stime"];
			if(astime!=undefined) astime = astime.substring(0,10);
			var aetime = data["activity_etime"];
			if(aetime!=undefined) aetime = aetime.substring(0,10);
			var sstime = data["sign_stime"];
			if(sstime!=undefined) sstime = sstime.substring(0,10);
			var setime = data["sign_etime"];
			if(setime!=undefined) setime = setime.substring(0,10);
			$("#astime").val(astime);
			$("#aetime").val(aetime);
			$("#sstime").val(sstime);
			$("#setime").val(setime);
			$('#state').siblings("div.layui-form-select").find('dl').find('dd').filter(function(){return $(this).text()==data["state"];}).click();
			$('#type').siblings("div.layui-form-select").find('dl').find('dd').filter(function(){return $(this).text()==data["type"];}).click();
			initSelect();
			initFuwenben(data["body"]);
		}
	});   
	});	
}

function initFuwenben(bodyStr){
	layui.use('layedit', function(){
	  var layedit = layui.layedit;
	  layedit.set({
		  uploadImage: {
		    url: 'back/activity/saveImage' //接口url
		  }
		});
	  fuwenben = layedit.build('bodyInfo', {
		  tool: ['image']
	  }); //建立编辑器
	  layedit.setContent(fuwenben,bodyStr , false);
	  alert(layedit.getText(fuwenben));
	})
}

function openLayer(titleName){
	  //layedit.setContent(fuwenben, "", false); 这个初始化就相当于清空了
	  layer.open({
		  type:1,
		  area:['800px','500px'],
		   title: titleName
		   ,content: $("#activityInfo"),
		   shade: 0.3,
		   resize:false ,
		   move: false,
		   btn: ['提交', '重置']
		   ,btn1: function(index, layero){
			   saveData();
		   },
		   btn2: function(index, layero){
			   if($("#id").val() == "")clearInfoForm();
			   else getEditData();
			   return false;
		   },
		 cancel: function(layero,index){ 
		    layer.closeAll();
		   }
		 }); 
}

function clearInfoForm(){
	$("#activityInfo").clearForm();
	initFuwenben("");
}

function searchForm(){
	layui.use('table', function(){
		var type = $("#activityType").val();
		var state = $("#activityState").val();
		var stime = $("#activityStime").val();
		var etime = $("#activityEtime").val();
		if(stime!=""&&etime!=""){
			if(stime>etime){
				layer.msg('时间起始不可大于时间截止！');
				$("#activityEtime").val("");
				return;
			}
		}
		var table = layui.table;
		table.reload('demoTable',{
			  where: {field: 'activity_start_time', sort: "desc",
			    	type:type,stime:stime,
			    	state:state,etime:etime}
			,page: {
			    curr: 1 //重新从第 1 页开始
			  }
			});
	});
}

function getSelect(){
	$.ajax({
		type : "post",
		url : "back/activity/getSelect",
		async:false,
		data : "",
		dataType : 'json',
		error : function(XMLHttpRequest, textStatus, errorThrown) {
			console.log(XMLHttpRequest.status + "," + XMLHttpRequest.readyState + ","
					+ textStatus + "," + errorThrown);			
		},
		success : function(result) {
			var typeList = result['data']['typeList'];
			var stateList = result['data']['stateList'];
			var typeStr = "<option value=''>请选择</option>";
			var stateStr = "<option value=''>请选择</option>";
			for ( var i = 0; i < typeList.length; i++) {
				var data = typeList[i];
				typeStr += "<option value=" + data["code"] + ">" + data["value"]
						+ "</option>";
			}
			for ( var i = 0; i < stateList.length; i++) {
				var data = stateList[i];
				stateStr += "<option value=" + data["code"] + ">" + data["value"]
						+ "</option>";
			}
			$("#activityType").html(typeStr);
			$("#activityState").html(stateStr);
			$("#type").html(typeStr);
			$("#state").html(stateStr);
			initSelect();
		}
	});
}  
function initSelect(){
	layui.use('form', function(){
	    layui.form.render('select','stateSelect');
	    layui.form.render('select','typeSelect');
	    layui.form.render('select','aStateSelect');
	    layui.form.render('select','aTypeSelect');
	});
}

function getTimestamp(dateStr){
	if(dateStr.length == 9) return "";
	var date = new Date(dateStr);
	return date.getTime()/1000;
}
//让时间插件无法选中 达到禁止手输的目的
function noInput(dom){
	$(dom).blur();
}
/**
 * 自动将form表单封装成json对象
 */
$.fn.serializeObject = function() {
    var o = {};
    var a = this.serializeArray();
    $.each(a, function() {
        if (o[this.name]) {
            if (!o[this.name].push) {
                o[this.name] = [ o[this.name] ];
            }
            o[this.name].push(this.value || '');
        } else {
            o[this.name] = this.value || '';
        }
    });
    return o;
};  
  </script>
</body>
