<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include :: header"></head>
<body>
<form class="layui-form" id="searchForm">
  <div class="layui-row">
    <div class="layui-col-md12" style="padding-top: 10px">
        活动类型：
        <div class="layui-inline" lay-filter="typeSelect">
	        <select name="activityType" id="activityType" lay-verify="">
			  <option value="">请选择</option>
			</select> 
        </div>
        活动状态：
        <div class="layui-inline" lay-filter="stateSelect">
	        <select name="activityState" id="activityState" lay-verify="">
			  <option value="">请选择</option>
			</select> 
        </div>
        开始日期：
        <div class="layui-inline">
          <input type="text" class="layui-input" name="activityStime" id="activityStime" placeholder="开始日期起始" onfocus="noInput(this)">
        </div>-
        <div class="layui-inline">
          <input type="text" class="layui-input" name="activityEtime" id="activityEtime" placeholder="开始日期截止" onfocus="noInput(this)">
        </div>
        <div class="layui-inline" style="float:right;">
	        <button type="button" class="layui-btn" data-type="reload" id="search">搜索</button>
	        <button type="button" class="layui-btn" data-type="reload" id="clear">重置</button>
        	<button type="button" class="layui-btn" data-type="reload" id="add"><i class="layui-icon"></i>新增</button>
      	</div>
    </div>
  </div>
</form>
  <table class="layui-hide" id="demoTable" lay-filter="tableFilter"></table>
  <form class="layui-form layui-form-pane" id="activityInfo" style="display:none">
  <input type="hidden" id="id" name="id" value="">
  <input type="hidden" id="activity_start_time" name="activityStartTime" value="">
  <input type="hidden" id="activity_end_time" name="activityEndTime" value="">
  <input type="hidden" id="sign_start_time" name="signStartTime" value="">
  <input type="hidden" id="sign_end_time" name="signEndTime" value="">
  <input type="hidden" id="body" name="body" value="">
  <div class="layui-form-item" style="padding-top: 10px">
    <label class="layui-form-label">活动标题</label>
    <div class="layui-input-block">
      <input maxlength="100" type="text" name="title" required  lay-verify="required" placeholder="请输入标题" class="layui-input" id="title">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">活动地址</label>
    <div class="layui-input-block">
      <input maxlength="100" type="text" name="address" required lay-verify="required" placeholder="请输入地址" class="layui-input" id="address">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">活动开始</label>
    <div class="layui-input-block">
      <input type="text" name="astime" placeholder="请选择活动开始日期" class="layui-input" id="astime" onfocus="noInput(this)">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">活动结束</label>
    <div class="layui-input-block">
      <input type="text" name="aetime" placeholder="请选择活动结束日期" class="layui-input" id="aetime" onfocus="noInput(this)">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">签到开始</label>
    <div class="layui-input-block">
      <input type="text" name="sstime" placeholder="请选择签到开始日期" class="layui-input" id="sstime" onfocus="noInput(this)">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">签到结束</label>
    <div class="layui-input-block">
      <input type="text" name="setime" placeholder="请选择签到结束日期" class="layui-input" id="setime" onfocus="noInput(this)">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">活动类型</label>
    <div class="layui-input-block" lay-filter="aTypeSelect">
     <select id="type" name="type" lay-verify="">
		<option value="">请选择</option>
	 </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">活动状态</label>
    <div class="layui-input-block" lay-filter="aStateSelect">
     <select id="state" name="state" lay-verify="">
		<option value="">请选择</option>
	 </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">活动积分</label>
    <div class="layui-input-block">
      <input type="text" maxlength="3" onblur="validateNum(this)" name="activityTime" placeholder="请输入本次活动积分数" class="layui-input" id="activity_time">
    </div>
  </div>
  <div id="noEdit">
  
  <div class="layui-form-item">
    <label class="layui-form-label">阅读量</label>
    <div class="layui-input-block">
      <input type="text" class="layui-input" id="read_num" onfocus="noInput(this)">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">点赞量</label>
    <div class="layui-input-block">
      <input type="text" class="layui-input" id="good_num" onfocus="noInput(this)">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">申请人数</label>
    <div class="layui-input-block">
      <input type="text" class="layui-input" id="apply_nums" onfocus="noInput(this)">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">申请人员</label>
    <div class="layui-input-block">
      <textarea class="layui-input" id="apply_names" onfocus="noInput(this)"></textarea>
    </div>
  </div>
  </div>
  
  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label" >&nbsp;&nbsp;&nbsp;活动内容</label>
    <div class="layui-input-block">
      <textarea id="bodyInfo" name="bodyInfo" placeholder="请输入活动内容" class="layui-textarea"></textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">封面上传</label>
    <div class="layui-input-block" id="upload">
      <input type="text" placeholder="点击空白区域上传封面图片" class="layui-input" disabled="disabled">
    </div>
  </div>
  <div id="imgPreview"></div>
  <input type="hidden" id="cover_url" name="coverUrl">
</form>
  <script type="text/javascript">
  var fuwenben;
  var tableIns; 
	//加载下拉框
	getSelect();
  layui.use(['layedit','laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element'], function(){
    var layer = layui.layer //弹层
        ,table = layui.table //表格
        ,element = layui.element; //元素操作
    //执行一个 table 实例
    tableIns = table.render({
      elem: '#demoTable'
      ,url: 'back/activity/getList'
      ,method: 'post'
      ,contentType: 'application/json'
      ,id:'demoTable'
   	  ,parseData: function(res){ //res 即为原始返回的数据
   		    return {
   		      "code": res.status, //解析接口状态
   		      "msg": res.message, //解析提示文本
   		   	  "count": res.count, //解析数据长度
   		      "data": res.data //解析数据列表
   		    };
   	  }
    ,where: {field: 'activity_stime', sort: "desc"}
    ,response: {
        statusCode:1 //规定成功的状态码，默认：0
      }
      ,page: true //开启分页
      ,cols: [
          [
        //{type:'checkbox'}
        //,{title: '序号', type:'numbers', align: 'center'}
        ,{field: 'id', hide:true, title:'id', align: 'center'}
        ,{width:'30%',field:'title', title: '活动标题', align: 'center'}
        ,{width:'30%',field:'activity_stime', title: '活动开始日期', align: 'center'}
        ,{width:'10%',field:'type', title: '活动类型', align: 'center'}
        ,{width:'10%',field:'state', title: '活动状态', align: 'center'}
        ,{width:'10%',field:'apply_nums', title: '申请人数', align: 'center'}
        ,{ title: '操作',width: '10%', align:'center', toolbar: '#bar'}
        ]
      ]
    });
    var upload = layui.upload;
    upload.render({
   	  elem: '#upload'
   	  ,url: 'back/activity/saveCoverImage'
   	  ,auto: true
   	  //,bindAction: '#testListAction' //指向一个按钮触发上传
		,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
		    layer.load(); //上传loading
		  }
	,done: function(res){
      //上传完毕回调
      layer.closeAll('loading'); //关闭loading
      console.log(res);
      $("#cover_url").val(res["data"]["src"]);
      $("#imgPreview").html("<img src='"+res["data"]["src"]+"' width='50%' />");
    }
   	});
    
    var laydate = layui.laydate;
    
    //常规用法
    laydate.render({
      elem: '#activityStime'
    	  ,format: 'yyyy-MM-dd HH:mm'
    	  ,type:'datetime'
    	  ,trigger: 'click'
    });
    laydate.render({
      elem: '#activityEtime'
    	  ,format: 'yyyy-MM-dd HH:mm'
        	  ,type:'datetime'
    	    ,trigger: 'click'
    });
    laydate.render({
      elem: '#astime'
    	  ,format: 'yyyy-MM-dd HH:mm'
        	  ,type:'datetime'
    	    ,trigger: 'click'
    });
    laydate.render({
      elem: '#aetime'
    	  ,format: 'yyyy-MM-dd HH:mm'
        	  ,type:'datetime'
    	    ,trigger: 'click'
    });
    laydate.render({
      elem: '#sstime'
    	  ,format: 'yyyy-MM-dd HH:mm'
        	  ,type:'datetime'
    	    ,trigger: 'click'
    });
    laydate.render({
      elem: '#setime'
    	  ,format: 'yyyy-MM-dd HH:mm'
        	  ,type:'datetime'
    	    ,trigger: 'click'
    });
    
	$("#add").bind("click", function() {
		$("#noEdit").hide();
		clearInfoForm();
		openLayer('新建活动信息',0);
		initFuwenben("");
	});
    
	$("#search").bind("click", function() {
		searchForm();
	});
    
	$("#clear").bind("click", function() {
		$("#searchForm").clearForm();
		searchForm();
	});
	
	layui.form.on('submit(formDemo)', function(data){
	    layer.msg(JSON.stringify(data.field));
	    return false;
  	});
  
	table.on('tool(tableFilter)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
		var data = obj.data; //获得当前行数据
		var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
		if(layEvent === 'detail'){ //查看
			$("#noEdit").show();
			clearInfoForm();
			getEditData(data['id'],data['state']);
		} else if(layEvent === 'delEvent'){ //删除
			delInfo(data['id']);
		}
	});
});
  
function saveData(){
	layui.use('layedit', function(){
		  var layedit = layui.layedit;
		  $("#body").val(layedit.getContent(fuwenben));
	});	
	
	var ast = $("#astime").val();
	var aet = $("#aetime").val();
	var sst = $("#sstime").val();
	var set = $("#setime").val();
	$("#activity_start_time").val(getTimestamp(ast+":00"))
	$("#activity_end_time").val(getTimestamp(aet+":00"))
	$("#sign_start_time").val(getTimestamp(sst+":00"))
	$("#sign_end_time").val(getTimestamp(set+":00"))
	//顺序校验必填项
	var validate = validateForm();	
	if(!validate) return;
	
}

function delInfo(id){
	layer.confirm('确认要删除吗', {icon: 3, title:'信息删除确认'}, function(index){
		del(id);
	});
}

function del(ids){
	$.ajax({
		type : "post",
		url : "back/activity/del",
		data : JSON.stringify({"ids":ids}),
		headers : {
            'Content-Type' : 'application/json;charset=utf-8'
            },
		dataType : 'json',
		error : function(XMLHttpRequest, textStatus, errorThrown) {
			console.log(XMLHttpRequest.status + "," + XMLHttpRequest.readyState + ","
					+ textStatus + "," + errorThrown);			
		},
		success : function(result) {
			if(result["status"] == 1){
				layer.msg(result["msg"]);
				searchForm();
			}
		}
	});
}

function getEditData(id,state){
	var ifSub = 0;
   if(state != "未发布"){
		//layer.msg('只可编辑未发布的活动信息！');
		//return;
	   ifSub = 1;
   }
   $.ajax({
		type : "post",
		url : "back/activity/getInfo",
		data : JSON.stringify({
			"id":id
			}),
		headers : {
            'Content-Type' : 'application/json;charset=utf-8'
            },
		dataType : 'json',
		error : function(XMLHttpRequest, textStatus, errorThrown) {
			console.log(XMLHttpRequest.status + "," + XMLHttpRequest.readyState + ","
					+ textStatus + "," + errorThrown);			
		},
		success : function(result) {
			var data = result["data"];
			$("#id").val(data["id"]);
			$("#title").val(data["title"]);
			$("#address").val(data["address"]);
			$("#activity_time").val(data["activity_time"]);
			$("#read_num").val(data["read_num"]);
			$("#good_num").val(data["good_num"]);
			$("#apply_nums").val(data["apply_nums"]);
			$("#apply_names").val(data["apply_names"]);
			var astime = data["activity_stime"];
			if(astime!=undefined) astime = astime.substring(0,16);
			var aetime = data["activity_etime"];
			if(aetime!=undefined) aetime = aetime.substring(0,16);
			var sstime = data["sign_stime"];
			if(sstime!=undefined) sstime = sstime.substring(0,16);
			var setime = data["sign_etime"];
			if(setime!=undefined) setime = setime.substring(0,16);
			$("#astime").val(astime);
			$("#aetime").val(aetime);
			$("#sstime").val(sstime);
			$("#setime").val(setime);
			$('#state').siblings("div.layui-form-select").find('dl').find('dd').filter(function(){return $(this).text()==data["state"];}).click();
			$('#type').siblings("div.layui-form-select").find('dl').find('dd').filter(function(){return $(this).text()==data["type"];}).click();
			var curl = data["cover_url"];
			if(curl!=undefined){
				$('#cover_url').val(data["cover_url"]);
				$('#imgPreview').html("<img src='"+curl+"'  width='50%' />");
			}
			
			initSelect();
			openLayer('活动信息详情',ifSub);
			initFuwenben(data["body"]);
		}
	});   
	//});	
}

function initFuwenben(bodyStr){
	layui.use('layedit', function(){
	  var layedit = layui.layedit;
	  layedit.set({
		  uploadImage: {
		    url: 'back/activity/saveImage' //接口url
		  }
		});
	  fuwenben = layedit.build('bodyInfo', {
		  tool: ['image']
	  }); //建立编辑器
	  layedit.setContent(fuwenben,bodyStr , false);
	})
}

function openLayer(titleName,state){
	var width = window.innerWidth*3/4+"px";
	  //layedit.setContent(fuwenben, "", false); 这个初始化就相当于清空了
	  if(state == 1){
			  layer.open({
				  type:1,
				  area: width,
				   title: titleName
				   ,content: $("#activityInfo"),
				   shade: 0.3,
				   resize:false ,
				   move: false,
				   scrollbar: true,
				 	cancel: function(layero,index){ 
				    layer.closeAll();
				   }
				 }); 
				layer.msg('未发布以外的活动信息仅可查看。');
	  }else{
		  layer.open({
			  type:1,
			  area: width,
			   title: titleName
			   ,content: $("#activityInfo"),
			   shade: 0.3,
			   resize:false ,
			   move: false,
			   scrollbar: true,
			   btn: ['提交', '重置']
			   ,btn1: function(index, layero){
				   saveData();
			   },
			   btn2: function(index, layero){
				   if($("#id").val() == "")clearInfoForm();
				   else getEditData();
				   return false;
			   },
			 cancel: function(layero,index){ 
			    layer.closeAll();
			   }
			 }); 
	  }
}

function clearInfoForm(){
	$("#activityInfo").clearForm();
	$("#imgPreview").html("");
	initFuwenben("");
}

function searchForm(){
	layui.use('table', function(){
		var type = $("#activityType").val();
		var state = $("#activityState").val();
		var stime = $("#activityStime").val();
		var etime = $("#activityEtime").val();
		if(stime!=""&&etime!=""){
			if(stime>etime){
				layer.msg('日期起始不可大于日期截止！');
				$("#activityEtime").val("");
				return;
			}
		}
		var table = layui.table;
		table.reload('demoTable',{
			  where: {field: 'activity_start_time', sort: "desc",
			    	type:type,stime:stime,
			    	state:state,etime:etime}
			,page: {
			    curr: 1 //重新从第 1 页开始
			  }
			});
	});
}

function getSelect(){
	$.ajax({
		type : "post",
		url : "back/activity/getSelect",
		async:false,
		data : "",
		dataType : 'json',
		error : function(XMLHttpRequest, textStatus, errorThrown) {
			console.log(XMLHttpRequest.status + "," + XMLHttpRequest.readyState + ","
					+ textStatus + "," + errorThrown);			
		},
		success : function(result) {
			var typeList = result['data']['typeList'];
			var stateList = result['data']['stateList'];
			var typeStr = "<option value=''>请选择</option>";
			var stateStr = "<option value=''>请选择</option>";
			for ( var i = 0; i < typeList.length; i++) {
				var data = typeList[i];
				typeStr += "<option value=" + data["code"] + ">" + data["value"]
						+ "</option>";
			}
			for ( var i = 0; i < stateList.length; i++) {
				var data = stateList[i];
				stateStr += "<option value=" + data["code"] + ">" + data["value"]
						+ "</option>";
			}
			$("#activityType").html(typeStr);
			$("#activityState").html(stateStr);
			$("#type").html(typeStr);
			$("#state").html(stateStr);
			initSelect();
		}
	});
}  
function initSelect(){
	layui.use('form', function(){
	    layui.form.render('select','stateSelect');
	    layui.form.render('select','typeSelect');
	    layui.form.render('select','aStateSelect');
	    layui.form.render('select','aTypeSelect');
	});
}

function validateNum(sel){
	$(sel).val($(sel).val().replace(/[^\d]/g,''));
	layer.msg("活动积分只能输入纯数字！");
}
function submitForm (){
	$.ajax({
		type : "post",
		url : "back/activity/insertOrUpdate",
		data : JSON.stringify($("#activityInfo").serializeObject()),
		headers : {
            'Content-Type' : 'application/json;charset=utf-8'
            },
		dataType : 'json',
		error : function(XMLHttpRequest, textStatus, errorThrown) {
			console.log(XMLHttpRequest.status + "," + XMLHttpRequest.readyState + ","
					+ textStatus + "," + errorThrown);			
		},
		success : function(result) {
			if(result["status"] == 1){
				layer.closeAll();
				layer.msg(result["msg"]);
				searchForm();
			}
		}
	});
}
//顺序校验必填项
function validateForm(){
	var title = $.trim($("#title").val());//必填
	if(title == ""){
		layer.msg("活动标题必须输入！");
		return false;
	}
	var address = $.trim($("#address").val());
	if(address == ""){
		layer.msg("活动地址必须输入！");
		return false;
	}
	var astime = $("#astime").val();
	if(astime == ""){
		layer.msg("活动开始日期必须选择！");
		return false;
	}
	var aetime = $("#aetime").val();
	if(aetime == ""){
		layer.msg("活动结束日期必须选择！");
		return false;
	}
	if(astime>aetime){
		layer.msg("活动开始日期不能大于活动结束日期！");
		$("#activity_etime").val("");
		return false;
	}
	var sstime = $("#sstime").val();
	if(sstime == ""){
		layer.msg("签到开始日期必须选择！");
		return false;
	}
	var setime = $("#setime").val();
	if(setime == ""){
		layer.msg("签到结束日期必须选择！");
		return false;
	}
	if(sstime>setime){
		layer.msg("签到开始日期不能大于签到结束日期！");
		$("#sign_etime").val("");
		return false;
	}
	var type = $("#type").val();
	if(type == undefined){
		layer.msg("活动类型必须选择！");
		return false;
	}
	var state = $("#state").val();
	if(state == undefined){
		layer.msg("活动状态必须选择！");
		return false;
	}
	var activity_time = $("#activity_time").val();
	if(activity_time == ""){
		layer.msg("活动积分必须输入！");
		return false;
	}
	var bodyHtml = $("#body").val();
	var bodyValue = "";
	layui.use('layedit', function(){
		bodyValue = $.trim(layui.layedit.getText(fuwenben));
	});
	if(bodyValue == "" && bodyHtml.indexOf("<img")<0){
		layer.msg("活动内容必须输入！");
		return false;
	}
	var cover_url = $("#cover_url").val();
	if(cover_url == ""){
		layer.msg("封面图片必须选择！");
		return false;
	}
	var submit = false;
	layer.confirm('确认要提交吗', {icon: 3, title:'信息提交确认'}, function(index){
		  //do something
		submitForm();
	});
	return true;
}

function getTimestamp(dateStr){
	if(dateStr.length == 9) return "";
	var date = new Date(dateStr);
	return date.getTime()/1000;
}
//让日期插件无法选中 达到禁止手输的目的
function noInput(dom){
	$(dom).blur();
}
/**
 * 自动将form表单封装成json对象
 */
$.fn.serializeObject = function() {
    var o = {};
    var a = this.serializeArray();
    $.each(a, function() {
        if (o[this.name]) {
            if (!o[this.name].push) {
                o[this.name] = [ o[this.name] ];
            }
            o[this.name].push(this.value || '');
        } else {
            o[this.name] = this.value || '';
        }
    });
    return o;
};  
  </script>
  <script type="text/html" id="bar">
  <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delEvent">删除</a>
</script>
</body>
