<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include :: header"></head>
<body>
<form class="layui-form" id="searchForm">
  <div class="layui-row">
    <div class="layui-col-md12" style="padding-top: 10px">
        活动类型：
        <div class="layui-inline" lay-filter="typeSelect">
	        <select name="activityType" id="activityType" lay-verify="">
			  <option value="">请选择</option>
			</select> 
        </div>
        活动状态：
        <div class="layui-inline" lay-filter="stateSelect">
	        <select name="activityState" id="activityState" lay-verify="">
			  <option value="">请选择</option>
			</select> 
        </div>
        开始时间：
        <div class="layui-inline">
          <input type="text" class="layui-input" name="activityStime" id="activityStime" placeholder="开始时间起始">
        </div>-
        <div class="layui-inline">
          <input type="text" class="layui-input" name="activityEtime" id="activityEtime" placeholder="开始时间截止">
        </div>
        <div class="layui-inline" style="float:right;">
	        <button type="button" class="layui-btn" data-type="reload" id="search">搜索</button>
	        <button type="button" class="layui-btn" data-type="reload" id="clear">重置</button>
      	</div>
    <div class="layui-col-md12" style="padding-top: 10px">
        	<div style="float:right;">
	        	<button type="button" class="layui-btn layui-btn-radius layui-btn-primary" data-type="reload" id="add">新增</button>
	        	<button type="button" class="layui-btn layui-btn-radius layui-btn-primary" data-type="reload" id="edit">编辑</button>
	        	<button type="button" class="layui-btn layui-btn-radius layui-btn-primary" data-type="reload" id="del">删除</button>
        	</div>
    </div>
    </div>
  </div>
</form>
  <table class="layui-hide" id="table" lay-filter="tableFilter"></table>
  <form class="layui-form" id="test" style="display:none">
  <div class="layui-form-item">
    <label class="layui-form-label">输入框</label>
    <div class="layui-input-block">
      <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="on" class="layui-input" id="username" style="width:100px">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码框</label>
    <div class="layui-input-inline">
      <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="on" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">辅助文字</div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">选择框</label>
    <div class="layui-input-block">
     <select name="quiz" lay-search>
  <option value="">请选择</option>
  <optgroup label="城市记忆">
    <option value="你工作的第一个城市">你工作的第一个城市？</option>
  </optgroup>
  <optgroup label="学生时代">
    <option value="你的工号">你的工号？</option>
    <option value="你最喜欢的老师">你最喜欢的老师？</option>
  </optgroup>
</select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">复选框</label>
    <div class="layui-input-block">
      <input type="checkbox" name="like[write]" title="写作" lay-skin="primary">
      <input type="checkbox" name="like[read]" title="阅读" checked lay-skin="primary">
      <input type="checkbox" name="like[dai]" title="发呆" lay-skin="primary">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">开关</label>
    <div class="layui-input-block">
      <input type="checkbox" name="switch" lay-skin="switch" lay-text="开启|关闭">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">单选框</label>
    <div class="layui-input-block">
      <input type="radio" name="sex" value="男" title="男">
      <input type="radio" name="sex" value="女" title="女" checked>
    </div>
  </div>
  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label" >文本域</label>
    <div class="layui-input-block">
      <textarea lay-verify="required" name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
    </div>
  </div>
<button id="div">提交</button>
</form>
  <script type="text/javascript">
  layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element'], function(){
    var layer = layui.layer //弹层
        ,table = layui.table //表格
        ,element = layui.element; //元素操作
    //监听Tab切换
    element.on('tab(demo)', function(data){
      layer.msg('切换了：'+ this.innerHTML);
      console.log(data);
    });
    //执行一个 table 实例
    var tableIns = table.render({
      elem: '#table'
      ,url: 'back/activity/getList'
      ,method: 'post'
      ,contentType: 'application/json'
   	  ,parseData: function(res){ //res 即为原始返回的数据
   		    return {
   		      "code": res.status, //解析接口状态
   		      "msg": res.message, //解析提示文本
   		   	  "count": res.count, //解析数据长度
   		      "data": res.data //解析数据列表
   		    };
   	  }
    ,where: {field: 'activity_stime', sort: "desc"}
    ,response: {
        statusCode:1 //规定成功的状态码，默认：0
      }
      ,page: true //开启分页
      ,cols: [
          [
        {type:'checkbox'}
        ,{title: '序号', type:'numbers', align: 'center'}
        ,{field: 'id', hide:true, title:'id', align: 'center'}
        ,{field:'title', title: '活动标题', align: 'center'}
        ,{field:'type', title: '活动类型', align: 'center'}
        ,{field:'state', title: '活动状态', align: 'center'}
        ,{field:'activity_stime', title: '活动时间', align: 'center'}
        /* ,{fixed: 'right', width: 165, align:'center', toolbar: '#bar'} */
        ]
      ]
      ,id: 'tableReload'
    });

    var laydate = layui.laydate;
    
    //常规用法
    laydate.render({
      elem: '#activityStime'
    });
    laydate.render({
      elem: '#activityEtime'
    });
    
    layui.form.render('select','stateSelect');
    layui.form.render('select','typeSelect');
    
	$("#add").bind("click", function() {
		openLayer();
	});
    
	$("#search").bind("click", function() {
		searchForm();
	});
    
	$("#clear").bind("click", function() {
		$("#searchForm").clearForm();
		searchForm();
	});
	
	var searchForm = function(){
		var table = layui.table;
		var type = $("#activityType").val();
		var state = $("#activityState").val();
		var stime = $("#activityStime").val();
		var etime = $("#activityEtime").val();
		if(stime!=""&&etime!=""){
			if(stime>etime){
				layer.msg('时间起始不可大于时间截止！');
				$("#activityEtime").val("");
				return;
			}
		}
		tableIns.reload({
		  where: {field: 'activity_stime', sort: "desc",
		    	type:type,stime:stime,
		    	state:state,etime:etime}
		,page: {
		    curr: 1 //重新从第 1 页开始
		  }
		});
	}
	
  form.on('submit(formDemo)', function(data){
    layer.msg(JSON.stringify(data.field));
    return false;
  });
	  
  var openLayer = function(){
	  layer.open({
		  type:1,
		  area:['500px','600px'],
		   title: 'tianxie'
		   ,content: $("#test"),
		   shade: 0,
		   btn: ['提交', '重置']
		   ,btn1: function(index, layero){
		   var kk=$("#username").val();
		   alert(kk);
		   },
		   btn2: function(index, layero){
		    alert("2222");
		    return false;
		   },
		 cancel: function(layero,index){ 
		    layer.closeAll();
		   }
		 }); 
  }
});
  
  $.ajax({
		type : "post",
		url : "back/activity/getSelect",
		async:false,
		data : "",
		dataType : 'json',
		error : function(XMLHttpRequest, textStatus, errorThrown) {
			console.log(XMLHttpRequest.status + "," + XMLHttpRequest.readyState + ","
					+ textStatus + "," + errorThrown);			
		},
		success : function(result) {
			var typeList = result['data']['typeList'];
			var stateList = result['data']['stateList'];
			var typeStr = "<option value=''>请选择</option>";
			var stateStr = "<option value=''>请选择</option>";
			for ( var i = 0; i < typeList.length; i++) {
				var data = typeList[i];
				typeStr += "<option value=" + data["code"] + ">" + data["value"]
						+ "</option>";
			}
			for ( var i = 0; i < stateList.length; i++) {
				var data = stateList[i];
				stateStr += "<option value=" + data["code"] + ">" + data["value"]
						+ "</option>";
			}
			$("#activityType").html(typeStr);
			$("#activityState").html(stateStr);
		    layui.form.render('select','stateSelect');
		    layui.form.render('select','typeSelect');
		}
	});
  
  </script>
</body>
