<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include :: header"></head>
<body>
<div class="layui-row">
  <div class="layui-col-md12" style="padding:20px">
    <div class="dTable" style="padding-top: 10px">
      名称：
      <div class="layui-inline">
        <input class="layui-input" name="id" placeholder="会员名称" id="userName" autocomplete="off" style="width: 200px">
      </div>
      捐赠状态：
      <div class="layui-inline layui-form">
        <select id="contriState" lay-verify="">
          <option value="">请选择</option>
          <option value="0">未申请</option>
          <option value="1">已申请</option>
        </select>
      </div>
      捐赠时间：
      <div class="layui-inline">
      <input type="text" class="layui-input" name="sTime" id="sTime" placeholder="日期起始" onfocus="noInput(this)">
      </div> -
      <div class="layui-inline">
        <input type="text" class="layui-input" name="eTime" id="eTime" placeholder="日期截止" onfocus="noInput(this)">
      </div>
      <div class="layui-inline" style="float:right;">
        <button class="layui-btn" data-type="reload" >搜索</button>
        <button type="button" class="layui-btn layui-btn-primary" id="clear">重置</button>
      </div>
    </div>
  </div>
</div>
<table class="layui-hide" id="contriInfoList" lay-filter="tableFilter"></table>

<script type="text/javascript">
  layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element'], function () {
  var layer = layui.layer //弹层
      , table = layui.table //表格
      , element = layui.element; //元素操作
  //监听Tab切换
  element.on('tab(demo)', function (data) {
    layer.msg('切换了：' + this.innerHTML);
    console.log(data);
  });
  //执行一个 table 实例
  table.render({
    id: 'contriTable'
    , elem: '#contriInfoList'
    , url: '/back/contriInfo/contriInfoList'
    , method: 'post'
    , contentType: 'application/json'
    , page: true //开启分页
    , parseData: function (res) { //res 即为原始返回的数据
      return {
        "code": res.status, //解析接口状态
        "msg": res.message, //解析提示文本
        "data": res.data, //解析数据列表
        "count": res.count
      };
    }
    , response: {
      statusCode: 1 //规定成功的状态码，默认：0
    }
    , cols: [
      [
         {title: '序号', type: 'numbers', align: 'center'}
        , {title: '会员名称', field: 'userName', align: 'center'}
        , {title: '捐赠金额', field: 'contriAmount', align: 'center'}
        , {title: '捐赠物品', field: 'contriThings', align: 'center'}
        , {title: '联系方式', field: 'userMobile', align: 'center'}
        , {
          title: '捐赠时间', field: 'contriTime', align: 'center', templet: function (row) {
            return createTime(row.contriTime * 1000);
          }
        }
        , {
          title: '最后操作时间', field: 'updateTime', align: 'center', templet: function (row) {
            return createTime(row.updateTime * 1000);
          }
        }
        , {title: '捐赠状态', field: 'contriState', align: 'center', templet: '#titleTpl'}
        , {fixed: 'right', title: '操作', width: '10%', align: 'center', toolbar: '#bar'}
      ]
    ]
    , id: 'tableReload'
  });

  //监听工具条
  table.on('tool(tableFilter)', function (obj) {
    var data = obj.data //获得当前行数据
        , layEvent = obj.event; //获得 lay-event 对应的值
    // 查看详情
    if (layEvent === 'detail') {
      var jsonData;
      $.ajax({
        type: "get",
        contentType: 'application/json',
        url: "/back/contriInfo/getContriInfoDetail",
        dataType: "json",
        data: {"contriInfoId": data.id},
        success: function (data) {
          jsonData = data.data;
          layer.open({
            type: 2
            , offset: '0px'
            , scrollbar: false
            , title: '捐赠详情'
            , area: ['1000px', '600px']
            , content: ['/contriInfoDetail', 'false']
            , success: function (layero, index) {
              var userName = $("#userName", layero.find("iframe")[0].contentWindow.document);
              var contriAmount = $("#contriAmount", layero.find("iframe")[0].contentWindow.document);
              var contriThings = $("#contriThings", layero.find("iframe")[0].contentWindow.document);
              var contriTime = $("#contriTime", layero.find("iframe")[0].contentWindow.document);
              var userMobile = $("#userMobile", layero.find("iframe")[0].contentWindow.document);
              var orgName = $("#orgName", layero.find("iframe")[0].contentWindow.document);
              var orgRName = $("#orgRName", layero.find("iframe")[0].contentWindow.document);
              var contriState = $("#contriState", layero.find("iframe")[0].contentWindow.document);
              var contriType = $("#contriType", layero.find("iframe")[0].contentWindow.document);
              var contriValue = $("#contriValue", layero.find("iframe")[0].contentWindow.document);
              userName.val(jsonData.userName);
              contriAmount.val(jsonData.contriAmount);
              contriThings.val(jsonData.contriThings);
              contriTime.val(jsonData.contriTime);
              userMobile.val(jsonData.userMobile);
              orgName.val(jsonData.orgName);
              orgRName.val(jsonData.orgRName);
              contriState.val(jsonData.contriStateString);
              contriType.val(jsonData.contriTypeString);
              contriValue.val(jsonData.contriValue);
            }
          });
        }
      });
    } else if (layEvent === 'edit') { // 审核
      if (data.contriState === 1) {
        layer.msg('该捐赠已审核通过！');
      } else {
        layer.confirm('是否确认审核通过？', function (index) {
          offset: '200px';
          layer.close(index);
          $.ajax({
            type: "post",
            contentType: 'application/json',
            url: "/back/contriInfo/updateContriStatus",
            dataType: "json",
            data: JSON.stringify({
              id: data.id, contriState: 1
            }),
            success: function (data) {
              if (data.status === 1) {
                layer.msg("认证成功", {
                  icon: 1,
                  success: location.reload()
                });
              } else {
                layer.msg(data.msg);
              }
            },
          });
        });
      }
    }
  });
  // 查询操作
  var $ = layui.$, active = {
    reload: function () {
      var userName = $('#userName').val();
      var sTime = $('#sTime').val();
      var eTime = $('#eTime').val();
      var contriState = $('#contriState').val();
      var sTimeString = new Date(sTime).getTime()/1000;
      var eTimeString = new Date(eTime).getTime()/1000;
      if(sTime!=="" && eTime!==""){
        if(sTime > eTime){
          layer.msg('日期起始不可大于日期截止！');
          $("#sTime").val("");
          $("#eTime").val("");
          $("#userName").val("");
          $("#contriState").val("");
          return;
        }
      }
      //执行重载
      table.reload('tableReload', {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        , where: {
          userName: userName,
          contriState: contriState,
          startTime: sTimeString,
          endTime: eTimeString
        }
      });
    }
  };

  $('.dTable .layui-btn').on('click', function () {
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });

  // 重置操作
  $("#clear").bind("click", function() {
    $("#sTime").val("");
    $("#eTime").val("");
    $("#userName").val("");
    $("#contriState").val("");
    layui.form.render();
    table.reload('tableReload', {
      page: {
        curr: 1 //重新从第 1 页开始
      }, where: {
        startTime: '',
        endTime: '',
        userName: '',
        contriState: ''
    }
    });
  });

  // 选择日期组件
  var laydate = layui.laydate;
  //常规用法
  laydate.render({
    elem: '#sTime'
    ,format: 'yyyy-MM-dd HH:mm'
    ,type:'datetime'
    ,trigger: 'click'
  });
  laydate.render({
    elem: '#eTime'
    ,format: 'yyyy-MM-dd HH:mm'
    ,type:'datetime'
    ,trigger: 'click'
  });


});
//让日期插件无法选中 达到禁止手输的目的
function noInput(dom){
  $(dom).blur();
}

// 字符戳时间转换方法
/**13位时间戳转换成 年月日 上午 时间  2018-05-23 10:41:08 */
function createTime(v) {
  var date = new Date(v);
  var y = date.getFullYear();
  var m = date.getMonth()+1;
  m = m<10?'0'+m:m;
  var d = date.getDate();
  d = d<10?("0"+d):d;
  var h = date.getHours();
  h = h<10?("0"+h):h;
  var M = date.getMinutes();
  M = M<10?("0"+M):M;
  var str = y+"-"+m+"-"+d+" "+h+":"+M;
  return str;
}
</script>

<script type="text/html" id="bar">
  {{#  if(d.contriState == '0'){ }}
    <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">审核</a>
  {{#  } else if(d.contriState == "1"){ }}
    <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-xs layui-btn-disabled" lay-event="edit">审核</a>
  {{#  } }}
</script>

<script type="text/html" id="titleTpl">
  {{#if (d.contriState == 0) { }}
  <span>待证实</span>
  {{# }else if(d.contriState == 1){ }}
  <span>已证实</span>
  {{# } }}
</script>
</body>
