<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include :: header"></head>
<body>
  <div class="layui-row" style="padding-top: 20px">
    <div class="layui-col-xs8 layui-col-md-offset2">
      <form class="layui-form layui-form-pane" action="">
      <div class="layui-form-item">
        <label class="layui-form-label">用户名称</label>
        <div class="layui-input-block">
          <input type="text" id="userName" lay-verify="required" readOnly="readOnly"
                 autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">捐赠金额</label>
        <div class="layui-input-block">
          <input type="text" id="contriAmount" lay-verify="required" readOnly="readOnly" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">捐赠物品</label>
        <div class="layui-input-block">
          <input type="text" id="contriThings" lay-verify="required" readOnly="readOnly" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">捐赠时间</label>
        <div class="layui-input-block">
          <input type="text" id="contriTime" lay-verify="required" readOnly="readOnly" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">联系方式</label>
        <div class="layui-input-block">
          <input type="text" id="userMobile" lay-verify="required" readOnly="readOnly" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">公司名称</label>
        <div class="layui-input-block">
          <input type="text" id="orgName" lay-verify="required" readOnly="readOnly" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">捐赠凭证</label>
        <div class="layui-input-block">
          <input type="text" id="orgRName" lay-verify="required" readOnly="readOnly" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">捐赠类型</label>
        <div class="layui-input-block">
          <input type="text" id="contriType" lay-verify="required" readOnly="readOnly" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">捐赠状态</label>
        <div class="layui-input-block">
          <input type="text" id="contriState" lay-verify="required" readOnly="readOnly" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">物品估价</label>
        <div class="layui-input-block">
          <input type="text" id="contriValue" lay-verify="required" readOnly="readOnly" autocomplete="off" class="layui-input">
        </div>
      </div>
    </form>
    </div>
  </div>
  </div>
</body>
