<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include :: header"></head>
<body>
  <div class="layui-form-item">
    <div class="layui-col-md6 layui-col-md-offset2">
      <label class="layui-form-label">用户名称：</label>
      <div class="layui-input-block">
        <input type="text" name="bookName" lay-verify="title" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-col-md6 layui-col-md-offset2">
      <label class="layui-form-label">捐赠金额：</label>
      <div class="layui-input-block">
        <input type="text" name="bookName" lay-verify="title" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-col-md6 layui-col-md-offset2">
      <label class="layui-form-label">捐赠物品：</label>
      <div class="layui-input-block">
        <input type="text" name="bookName" lay-verify="title" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-col-md6 layui-col-md-offset2">
      <label class="layui-form-label">捐赠时间：</label>
      <div class="layui-input-block">
        <input type="text" name="bookName" lay-verify="title" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-col-md6 layui-col-md-offset2">
      <label class="layui-form-label">联系方式：</label>
      <div class="layui-input-block">
        <input type="text" name="bookName" lay-verify="title" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-col-md6 layui-col-md-offset2">
      <label class="layui-form-label">非用户组织或公司名称：</label>
      <div class="layui-input-block">
        <input type="text" name="bookName" lay-verify="title" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-col-md6 layui-col-md-offset2">
      <label class="layui-form-label">捐赠凭证：</label>
      <div class="layui-input-block">
        <input type="text" name="bookName" lay-verify="title" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-col-md6 layui-col-md-offset2">
      <label class="layui-form-label">捐赠类型：</label>
      <div class="layui-input-block">
        <input type="text" name="bookName" lay-verify="title" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-col-md6 layui-col-md-offset2">
      <label class="layui-form-label">捐赠状态：</label>
      <div class="layui-input-block">
        <input type="text" name="bookName" lay-verify="title" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-col-md6 layui-col-md-offset2">
      <label class="layui-form-label">捐助物品估价：</label>
      <div class="layui-input-block">
        <input type="text" name="bookName" lay-verify="title" autocomplete="off" class="layui-input">
      </div>
    </div>

  </div>
  <script type="text/javascript">
  </script>
  <script type="text/html" id="bar">

  </script>
</body>
