<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head th:replace="include :: header"></head>
<body>
<form class="layui-form" id="searchForm">
  <div class="layui-row">
    <div class="layui-col-md12">
      <div class="dTable" style="padding-top: 10px">
        学校名称：
        <div class="layui-inline">
          <input class="layui-input" name="id" placeholder="学校名称" id="school" autocomplete="off"
                 style="width: 200px">
        </div>
        状态：
        <div class="layui-inline" lay-filter="typeSelect">
          <select name="state" id="state" lay-verify="">

          </select>
        </div>
        是否在职：
        <div class="layui-inline" lay-filter="typeSelect">
          <select name="jobState" id="jobState" lay-verify="">
          </select>
        </div>
        注册时间：
        <div class="layui-inline">
          <input type="text" class="layui-input" name="applyTime" id="applyTime" placeholder="注册时间" onfocus="noInput(this)">
        </div>
        发放时间
        <div class="layui-inline">
          <input type="text" class="layui-input" name="sentTime" id="sentTime" placeholder="发放时间" onfocus="noInput(this)">
        </div>
        <div class="layui-inline" style="float:right;padding-right: 10px">
        <button type="button" class="layui-btn" data-type="reload"  shiro:hasPermission="common:rent:list" id="search">搜索</button>
          <button type="button" class="layui-btn layui-btn-primary" data-type="reload" id="clear">重置</button>
          <button type="button" class="layui-btn" style="visibility: hidden" data-type="reload" id="add"><i class="layui-icon">&#xe608;</i>新增</button>
        </div>
      </div>
    </div>
  </div>
</form>
<table class="layui-hide" id="contriInfoList" width="1500px" lay-filter="tableFilter"></table>
<script type="text/javascript">
  initSelect();
  //让日期插件无法选中 达到禁止手输的目的
  function noInput(dom){
    $(dom).blur();
  }
  $("#clear").bind("click", function() {
    $("#searchForm").clearForm();
    searchForm();
  });

  function changeStatus(status){
    if(status === 1){
        return '已证实'
    }
      if(status === 2){
          return '已发放'
      }
      if(status === 3){
          return '已驳回'
      }
      if(status === 0){
        return '待审核'
      }
      return ""
  }
  function changeJobStatus(status){
    if(status === 1){
        return '在职'
    }
    if(status === 0){
        return '待业'
    }

      return ''
  }
  $("#search").bind("click", function() {
    searchForm();
  });

/*  function searchForm(){
    debugger
    layui.use('table', function(){
      var school = $('#school');
      var state = $('#state');
      var jobState = $('#jobState');
      //执行重载
      var table = layui.table;
      table.reload('tableReload', {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        , where: {
          school: school.val(),
          state: state.val(),
          jobState: jobState.val(),
        }
      });
    });
  }*/
  function searchForm(){
    layui.use('table', function(){
      var school = $('#school');
      var state = $('#state');
      var jobState = $('#jobState');
      var applyTime = $("#applyTime").val();
      var sentTime = $("#sentTime").val();
      debugger
      var date = applyTime;
      date = date.substring(0,19);
      date = date.replace(/-/g,'/'); //必须把日期'-'转为'/'
      applyTime = new Date(date).getTime();

      var date1 = sentTime;
      date1 = date1.substring(0,19);
      date1 = date1.replace(/-/g,'/'); //必须把日期'-'转为'/'
      sentTime = new Date(date1).getTime();
      var table = layui.table;
      table.reload('tableReload',{
        where: {school: school.val(),
          state: state.val(),
          jobState: jobState.val(),applyTime:applyTime,sentTime:sentTime}
        ,page: {
          curr: 1 //重新从第 1 页开始
        }
      });
    });
  }
  function initSelect(){
    var stateStr = '<option value="">请选择</option>\n' +
        '          <option value="0">待审核</option>\n' +
        '          <option value="1">已证实</option>\n' +
        '          <option value="2">已发放</option>\n' +
        '          <option value="3">驳回</option>';
    var jobStateStr = '<option value="">请选择</option>\n' +
        '          <option value="0">待业</option>\n' +
        '          <option value="1">在职</option>\n'
    $("#state").html(stateStr);
    $("#jobState").html(jobStateStr);
    layui.use('form', function(){
      layui.form.render('select','stateSelect');
      layui.form.render('select','typeSelect');
      layui.form.render('select','aStateSelect');
      layui.form.render('select','aTypeSelect');
    });
  }

    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element'], function () {
        var layer = layui.layer //弹层
            , table = layui.table //表格
            , element = layui.element; //元素操作
        //监听Tab切换
        element.on('tab(demo)', function (data) {
            layer.msg('切换了：' + this.innerHTML);
            console.log(data);
        });
        //执行一个 table 实例
        table.render({
            elem: '#contriInfoList'
            , url: '/back/rent/getRentByPage'
            , method: 'post'
            , contentType: 'application/json'
            , page: true //开启分页

            , cols: [
                [
                    {title: '序号', type:'numbers', align: 'center'}
                    ,{field:'userId', title: '用户id', align: 'center'}
                    ,{field:'school', title: '学校', align: 'center'}
                    ,{field:'major', title: '专业', align: 'center'}
                    ,{field:'jobIntension', title: '职位', align: 'center'}
                    ,{field:'hopeSalary', title: '期望薪资', align: 'center'}

                    ,{field:'applyTime', title: '申请时间', align: 'center',templet: function (row) {
                        return createTime(row.applyTime)}}
                    ,{field:'sentTime', title: '发放时间', align: 'center',templet: function (row) {
                        return createTime(row.sentTime)}}
                    ,{field:'sentAmount', title: '发放金额', align: 'center'}
                    ,{field:'sentProof', title: '发放凭证', align: 'center'}
                    ,{field:'jobState', title: '是否在职', align: 'center', templet: function (row) {
                        return changeJobStatus(row.jobState)}}
                    ,{field:'position', title: '当前职位', align: 'center'}
                    /*,{field:'rejectReason', title: '驳回原因', align: 'center'}*/
                    ,{field:'companyName', title: '公司名', align: 'center'}
                    ,{field:'companyAddress', title: '公司地址', align: 'center'}
                  ,{field:'state', title: '状态', align: 'center', templet: function (row) {
                    return changeStatus(row.state)}}
                    , {fixed: 'right', title: '操作', width: '10%', align: 'center', toolbar: '#bar'}
                ]
            ],done: function(res, curr, count){
            var table = $('.layui-table').eq(1);
            if(table.length > 0){
              //遍历所有行
              table.find('tr').each(function(){
                var div = $(this).find('td[data-field="state"]').find('div').eq(0);
                var state = div.text();
                if(state == "已驳回"){
                  div.html("<font color='red'>已驳回</font>");
                }else if(state == "待审核"){
                  div.html("<font color='orange'>待审核</font>");
                }else if(state == "已证实"){
                  div.html("<font color='#00EC00'>已证实</font>");
                }else if(state == "已发放"){
                  div.html("<font color='blue'>已发放</font>");
                }
              })
            }
          }
            , id: 'tableReload'
        });
      var laydate = layui.laydate;
      laydate.render({
        elem: '#applyTime'
        ,format: 'yyyy-MM-dd HH:mm'
        ,type:'datetime'
        ,trigger: 'click'
      });
      laydate.render({
        elem: '#sentTime'
        ,format: 'yyyy-MM-dd HH:mm'
        ,type:'datetime'
        ,trigger: 'click'
      });
        //监听工具条
        table.on('tool(tableFilter)', function (obj) {
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail') {
                var jsonData;
                $.ajax({
                    type: "get",
                    contentType: 'application/json',
                    url: "/back/contriInfo/getContriInfoDetail",
                    dataType: "json",
                    data: {"contriInfoId": data.id},
                    success: function (data) {
                        jsonData = data.data;
                    }
                });
                layer.open({
                    type: 2
                    , offset: '0px'
                    , scrollbar: true
                    , title: '详情'
                    , skin: 'layui-layer-molv'
                    , area: ['1000px', '600px']
                    , content: ['/rentDetail', 'false']
                    , success: function (layero, index) {
                        console.log(layero, index);
                        var userId = $("#userId", layero.find("iframe")[0].contentWindow.document);
                        var school = $("#school", layero.find("iframe")[0].contentWindow.document);
                        var major = $("#major", layero.find("iframe")[0].contentWindow.document);
                        var jobIntension = $("#jobIntension", layero.find("iframe")[0].contentWindow.document);
                        var hopeSalary = $("#hopeSalary", layero.find("iframe")[0].contentWindow.document);
                        var state = $("#state", layero.find("iframe")[0].contentWindow.document);
                        var applyTime = $("#applyTime", layero.find("iframe")[0].contentWindow.document);
                        var sentTime = $("#sentTime", layero.find("iframe")[0].contentWindow.document);
                        var sentAmount = $("#sentAmount", layero.find("iframe")[0].contentWindow.document);
                        var sentProof = $("#sentProof", layero.find("iframe")[0].contentWindow.document);
                        var jobState = $("#jobState", layero.find("iframe")[0].contentWindow.document);
                        var position = $("#position", layero.find("iframe")[0].contentWindow.document);
                        var companyAddress = $("#companyAddress", layero.find("iframe")[0].contentWindow.document);
                        var companyName = $("#companyName", layero.find("iframe")[0].contentWindow.document);
                        userName.val(jsonData.userName);
                        contriAmount.val(jsonData.contriAmount);
                        contriThings.val(jsonData.contriThings);
                        contriTime.val(jsonData.contriTime);
                        mobile.val(jsonData.mobile);
                        orgName.val(jsonData.orgName);
                        orgRName.val(jsonData.orgRName);
                        contriType.val(jsonData.contriType);

                    }
                });
            } else if (layEvent === 'edit') {
              if (data.state != 0) {
                layer.msg('只有待审核状态下才可以证实');
              } else {
                    layer.confirm('是否确认审核通过？', function (index) {
                        offset: '200px';
                        layer.close(index);
                        $.ajax({
                            type: "post",
                            contentType: 'application/json',
                            url: "/back/rent/updateStatus",
                            dataType: "json",
                            data: JSON.stringify({
                                id: data.id, state: 1
                            }),
                            // beforeSend: function () {
                            //   //禁用按钮防止重复提交
                            //   $("#submit").attr({ disabled: "disabled" });
                            // },
                            success: function (data) {
                                if (data.status === 1) {
                                    layer.msg("成功", {
                                        icon: 1,
                                        success: location.reload()
                                    });
                                } else {
                                    layer.msg(data.msg);
                                }
                            },
                        });
                    });
                }
            } else if (layEvent === 'editHasSend') {
                if (data.state === 2) {
                    layer.msg('已经发放');
                }else if(data.state === 3){
                  layer.msg('已经驳回');
                } else if(data.state === 1){
                    layer.confirm('是否确认发放？', function (index) {
                        offset: '200px';
                        layer.close(index);
                        $.ajax({
                            type: "post",
                            contentType: 'application/json',
                            url: "/back/rent/updateStatus",
                            dataType: "json",
                            data: JSON.stringify({
                                id: data.id, state: 2
                            }),
                            // beforeSend: function () {
                            //   //禁用按钮防止重复提交
                            //   $("#submit").attr({ disabled: "disabled" });
                            // },
                            success: function (data) {
                                if (data.status === 1) {
                                    layer.msg("成功", {
                                        icon: 1,
                                        success: location.reload()
                                    });
                                } else {
                                    layer.msg(data.msg);
                                }
                            },
                        });
                    });
                }
            }else if (layEvent === 'editCencel') {
                if (data.state === 2) {
                  layer.msg('已经发放');
                }else if(data.state === 3){
                  layer.msg('已经驳回！');
                } else if(data.state === 1){
                    layer.confirm('是否驳回？', function (index) {
                        offset: '200px';
                        layer.close(index);
                        $.ajax({
                            type: "post",
                            contentType: 'application/json',
                            url: "/back/rent/updateStatus",
                            dataType: "json",
                            data: JSON.stringify({
                                id: data.id, state: 3
                            }),
                            // beforeSend: function () {
                            //   //禁用按钮防止重复提交
                            //   $("#submit").attr({ disabled: "disabled" });
                            // },
                            success: function (data) {
                                if (data.status === 1) {
                                    layer.msg("成功", {
                                        icon: 1,
                                        success: location.reload()
                                    });
                                } else {
                                    layer.msg(data.msg);
                                }
                            },
                        });
                    });
                }
            }
        });

        var $ = layui.$, active = {
            reload: function () {
                var school = $('#school');
                var state = $('#state');
                var jobState = $('#jobState');
                //执行重载
                table.reload('tableReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        school: school.val(),
                        state: state.val(),
                        jobState: jobState.val(),
                    }
                });
            }
        };

        $('.dTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
<script type="text/html" id="bar">
  <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">详情</a>-->
  <a class="layui-btn layui-btn-xs" shiro:hasPermission="common:rent:update" lay-event="edit">证实</a>
  <a class="layui-btn layui-btn-xs" shiro:hasPermission="common:rent:update" lay-event="editHasSend">发放</a>
  <a class="layui-btn layui-btn-xs" shiro:hasPermission="common:rent:update" lay-event="editCencel">驳回</a>
</script>

<script type="text/html" id="titleTpl">
  {{#if (d.contriState == 0) { }}
  <span>待证实</span>
  {{# }else if(d.contriState == 1){ }}
  <span>已证实</span>
  {{# } }}
</script>

<script type="text/javascript">
    /**13位时间戳转换成 年月日 上午 时间  2018-05-23 10:41:08 */
    function createTime(v) {
        return new Date(parseInt(v)).toLocaleString()
    }

    /**重写toLocaleString方法*/
    Date.prototype.toLocaleString = function () {
        var y = this.getFullYear();
        var m = this.getMonth() + 1;
        m = m < 10 ? '0' + m : m;
        var d = this.getDate();
        d = d < 10 ? ("0" + d) : d;
        var h = this.getHours();
        h = h < 10 ? ("0" + h) : h;
        var M = this.getMinutes();
        M = M < 10 ? ("0" + M) : M;
        var S = this.getSeconds();
        S = S < 10 ? ("0" + S) : S;
        return y + "-" + m + "-" + d + " " + h + ":" + M + ":" + S;
    };
</script>
</body>
